body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}

header {
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 10;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 75px;
  display: block;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 15px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 30px 20px;
  width: 30%;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 5; /* Ensure it's above other elements */
}

.search-input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  margin-right: -1px; /* Adjust margin to prevent double border */
}

.search-button {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #555;
}

.main-articles .article {
  border: 1px solid #e3e4e5;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.main-articles .article:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.article-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 10px 0;
}

.article-excerpt {
  font-size: 1rem;
  color: #555;
}

.sidebar {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
  margin-bottom: 20px;
  font-size: 1.25rem;
  font-weight: 700;
}

.list-group-item {
  margin-bottom: 10px;
}

footer {
  background-color: #f9f9f9;
  text-align: center;
  padding: 40px 20px;
  margin-top: 20px;
}

footer .footer-content {
  max-width: 800px;
  margin: 0 auto;
}
