body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.profile-image-section {
  position: relative;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.upload-button {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #333;
}

.profileInputBox {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e3e4e5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.btn-primary {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.btn-primary:hover {
  background-color: #333;
}
