/* Navigation Styles */
nav {
  width: 100%;
  position: fixed;
  z-index: 10;
  padding: 1em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

nav .logo {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  color: var(--black);
  align-items: center;
  list-style: none;
  margin: 0;
}

nav ul li {
  margin-left: 15px;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 5px 10px;
}

nav ul li a:hover {
  color: var(--pill);
}

.profile-icon {
  position: absolute;
  right: 600px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: var(--white);
  cursor: pointer;
}

.profile-icon a {
  color: inherit;
  text-decoration: none;
}

.profile-icon a:hover {
  color: var(--pill);
}

.logo img {
  max-height: 75px;
  display: block;
}

/* Body Content Adjustment */
.body-content {
  padding-top: 80px; /* Adjust the value based on the height of your nav bar */
}

/* General Styles */
body {
  font-family: 'Montserrat', sans-serif;
}

.display-4 {
  font-size: 2.5rem;
  font-weight: bold;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.next-project-link {
  display: block; /* Makes the entire block clickable */
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Ensures text color is inherited and not blue */
}

.next-project-link:hover {
  cursor: pointer;
  opacity: 0.9; /* Optional: Add a subtle hover effect */
}

/* Footer Styles */
footer {
  background-color: #f9f9f9;
  text-align: center;
  padding: 40px 20px;
}

footer .footer-content {
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  max-width: 800px;
  margin: 0 auto;
}

footer h2 {
  font-size: 2.2em;
  margin-bottom: 10px;
  color: #333;
}

footer h3 {
  font-size: 10pt;
  margin-top: 10px;
  color: #333;
}

footer .cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  border: 2px solid #333;
  border-radius: 30px;
  text-decoration: none;
  color: #333;
  font-size: 1em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

footer .cta-button:hover {
  background-color: #333;
  color: #fff;
}

footer .social-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

footer .social-links a {
  color: #333;
  text-decoration: none;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  gap: 5px;
}

footer .social-links a:hover {
  color: #777;
}
